body
{
	height: 400;
	width: 400;
	font-size: 15px;
	color: rgb(200,200,40);
	font-family: arial, "times new roman";
	text-align: center;
}

h1
{
	text-align: left;
	font-size: 20px;
	color: black;
	background-color: rgb(200, 200, 200);
}

#userMessage
{
	
}